body{
    background-color: rgb(56, 106, 181);
}
.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
}
.buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
}
.buttons > button{
    background-color: rgb(36, 44, 152);
    color: white;
    font-family: "Anton", serif;
    font-size: 30px;
    border-radius: 20cap;
}
.animatedMe{
    display: flex;
    height:350px;
    width: 300px;

}

.text{
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-family: "DynaPuff", system-ui;
    color: rgb(203, 194, 245);
}
.jfsd{
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-family: "DynaPuff", system-ui;
    color: rgb(203, 194, 245);
}
.code{
    display: flex;
    height: 150px;
    width: 300px;

}
.down{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
@media screen and (min-width: 450px) {
    .me{
        display: flex;
        flex-direction: row-reverse;
    }
    .homeContainer{
        background-color: rgb(56, 106, 181);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100vw;
    }
    .buttons{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 20px;
    }
    .animatedMe{
        display: flex;
        justify-content: center;
        height: 395px;
        width: 306px;
    }
    .buttons > button{
        background-color: rgb(36, 44, 152);
        color: white;
        border-radius: 20cap; 
        font-weight: 800;
        font-style: normal;
        width: 50%;
    }
    .text{
        font-size: 30px;
        font-style: normal;
        width: 100%;
        font-family: "DynaPuff", system-ui;
        color: rgb(203, 194, 245);
        margin-top: 94px;
    }
    .jfsd{
        font-size: 60px;
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
        font-family: "DynaPuff", system-ui;
        color: rgb(203, 194, 245);
    }
    }
    @media screen and (min-width: 750px) {
        .me{
            display: flex;
            flex-direction: row-reverse;
        }
        .homeContainer{
            background-color: rgb(56, 106, 181);
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:100vw;
        }
        .buttons{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            align-items: center;
            gap: 20px;
        }
        .animatedMe{
            display: flex;
            justify-content: center;
            height: 395px;
            width: 306px;
        }
        .buttons > button{
            background-color: rgb(36, 44, 152);
            color: white;
            border-radius: 20cap; 
            font-weight: 800;
            font-style: normal;
            width: 50%;
        }
        .text{
            font-size: 30px;
            font-style: normal;
            width: 100%;
            font-family: "DynaPuff", system-ui;
            color: rgb(203, 194, 245);
            margin-top: 94px;
        }
        .jfsd{
            font-size: 79px;
            display: flex;
            text-align: center;
            justify-content: center;
            width: 100%;
            font-family: "DynaPuff", system-ui;
            color: rgb(203, 194, 245);
        }
}
@media screen and (min-width: 1200px) {
    .oneLine{
        display: flex;
        flex-direction: row;
    }
    .homeContainer{
        background-color: rgb(56, 106, 181);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100vw;
        gap:87px
    }
      .code{
          display: flex;
          height: 230px;
          width: 90%;
      }
      .down{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 64%;
        align-items: center;
        gap: 43px;
      }
      .me{
          display: flex;
          flex-direction: row-reverse;
      }
      .text{
          font-size: 32px;
          font-style: normal;
          font-family: "DynaPuff", system-ui;
          color: rgb(203, 194, 245);
          margin-top: 94px;
          width: 350px;
      }
      .together {
        display: flex;
        flex-direction: row;
        margin-top: -68px;
      }
      .jfsd{
        font-size: 43px;
        display: flex;
        text-align: center;
        margin: 0;
        margin-top: -30px;
        justify-content: center;
        width: 100%;
        font-family: "DynaPuff", system-ui;
        color: rgb(203, 194, 245);
      }
      .buttons{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        align-items: center;
        gap: 20px;
    }
    .animatedMe{
        display: flex;
        justify-content: center;
        height: 376px;
        width: 300px;
    }
    .buttons > button{
        background-color: rgb(36, 44, 152);
        color: white;
        border-radius: 20cap; 
        font-weight: 800;
        font-style: normal;
        width: 20%;
    }
}
